* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #1f2028;
}
a{
    text-decoration: none;
    color: white;
}
/* color 
    
*/

.header-div {
    height: 180px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
}

nav ul li {
    list-style: none;
    font-size: 1.3rem;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #64748b;
    transition: 0.5s;
    padding-bottom: 3px;
    position: relative;
}

.active {
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 3px;
}

nav ul li .hoverEffect::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    /* Change this to your desired border color */
    transition: width 0.3s ease;
    /* Transition duration and easing */
}

#hide-or-Show {
    font-size: 2rem;
    color: white;
    font-weight: 600;
    display: none;
}

nav ul li a:hover {
    color: white;
}

nav ul li .hoverEffect:hover::after {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    display: flex;
}

.name h1 {
    font-size: 1.7rem;
    color: white;
    padding: 10px 20px;
}

/* ------------------mainReactClean-Code-PageOne-------------- */
.testReactWith-Jest-Div {
    margin: 20px auto;
    height: 100vh;
    width: 70%;
    background-image: url('../landing-page-images/img12.webp');
    background-size: cover;
}

/* main-test-React-Jest-Container */
.main-test-React-Jest-Container {
    /* border: 1px solid white; */
    height: 140vh;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
}

.main-test-React-Jest-Container h5 {
    padding: 10px 20px;
    color: white;
    display: inline-block;
    border-radius: 100px;
    background: #2e3039;
    transition: 0.5s;
    margin: 10px 10px;
    font-family: 'poppins', sans-serif;
}

.main-test-React-Jest-Container h5:hover {
    background: #485464;
}

.design-hone {
    font-size: 2.5vw;
    font-weight: 700;
    color: white;
    font-family: 'poppins', sans-serif;
}

.paraOne {
    margin-top: 35px;
    font-size: 1.2vw;
    color: #ff7369;
}

.main-test-React-Jest-Container h4 {
    font-size: 1.9vw;
    color: white;
    font-weight: 300;
    margin-top: 30px;
    font-family: 'poppins', sans-serif;
}

.main-test-React-Jest-Container h6 {
    text-align: left;
    font-weight: 200;
    font-size: 1.2vw;
    margin-top: 20px;
    line-height: 20px;
    color: white;
    font-family: Arial;
}

span {
    padding: 2px 3px;
    background: #363741;
    color: #ff7369;
    font-size: 1.1vw;
    font-weight: 500;
}

.npm-install {
    margin-top: 19px;
    height: 70px;
    width: 100%;
    background: #2d2d2d;
    font-family: Arial, Helvetica, sans-serif;
}

.npm-install h6 {
    margin: 0;
    background-color: #2d2d2d;
    color: #cccccc;
    font-size: 1.3vw;
    margin-left: 20px;
    padding: 5px 0;
}

.writingTests-div {
    margin-top: 19px;
    height: 60vh;
    width: 100%;
    background: #2d2d2d;
    font-family: none;
}

.writingTests-div p {
    padding-top: 15px;
    background: #2d2d2d;
    /* color: #cccccc; */
    color: rgb(255, 123, 255);
}

/* ------------making-Related -post-container------------------------ */
.relatedPosts-Container {
    margin: 70px auto;
    /* border: 1px solid white; */
    height: 90vh;
    width: 80%;
    border-radius: 7px;
    color: #cccccc;
    font-family: 'poppins', sans-serif;
}

.relatedPosts-Container #relatedPosts {
    margin: 10px 15px;
    font-size: 2.3vw;
    font-weight: 700;
}
.flex{
    margin: 50px 20px;
}

.reactClean-Code-div {
    height: 55vh;
    width: 30%;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 18px 12px 2px rgba(2, 0, 0, 0.2);
    transition: 0.5s;
}

.reactClean-Code-div:hover {
    transform: scale(1.1);
    z-index: 1;
}

.backGround-Image-reactCleanCode {
    height: 30vh;
    width: 100%;
    background-image: url('../landing-page-images/img4.webp');
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.reactCleanCode-Text-Div {
    margin: auto;
    width: 90%;
    height: 24vh;
}

.reactCleanCode-Text-Div h3 {
    margin: 10px;
    color: white;
    font-size: 1.3vw;
}

.reactCleanCode-Text-Div p {
    font-size: 1vw;
    margin: 10px 10px;
    font-family: 'poppins', sans-serif;
}

.reactCleanCode-Text-Div h5 {
    margin: 5px;
    padding: 10px 10px;
    color: white;
    display: inline-block;
    border-radius: 100px;
    background: #2e3039;
    transition: 0.5s;
    font-size: 10px;
}

.reactCleanCode-Text-Div h5:hover {
    background: #485464;
}






